h1 {
  color: #048c6c;
  font-family: 'Slabo 27px', serif;
}

label {
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-family: 'Slabo 27px', serif;
}

p {
  font-family: 'Oswald', sans-serif;
}

tr {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}

a:link {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: #048c6c;
}

a:hover {
  color: #EEEEEE;
  text-decoration: none;
}

a:visited {
  color: #dedede;
}

.box {
  border-style: groove;
  border-color: #048c6c;
}
